.frio{
    background-color: aqua;
}

.agra {
    background-color: grey;
}

.quente {
    background-color: brown;
}

table {
    margin: 10px;
}

table , td, th{
    border: 1px solid;
    border-collapse: collapse;
}

.temp td{
    width: 200px;
    padding: 5px;
}

.notas td, th {
    border-color: rgb(255, 255, 255);
    text-align: left;
    width: 80px;
}

th {
    background-color: rgb(151, 197, 126);
}


th {
    padding: 5px;
}

img {
    height: 80px
}